@using Demand.Domain.ViewModels
@using System.Security.Claims
@using Newtonsoft.Json

@model DemandViewModel

@{
    var claimsIdentity = (ClaimsIdentity)User.Identity;
    var claims = claimsIdentity.Claims;
    var userId = long.Parse(claims.FirstOrDefault(x => x.Type == "UserId").Value);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/css/index.css" rel="stylesheet" />
    <style>
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

        body {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            margin-top: 20px;
            width: 95%;
            max-width: 1200px;
            background: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        #siteform {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            width: calc(48% - 10px);
            margin-bottom: 10px;
        }


        .button-group {
            display: flex;
            margin-top: 20px;
        }

        .form-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
        }

        .form-group {
            width: 48%;
            margin-bottom: 10px;
        }

            .form-group label {
                display: block;
                margin-bottom: 5px;
                color: white;
            }

            .form-group select,
            .form-group input[type="text"],
            .form-group textarea {
                width: 100%;
                padding: 8px;
                box-sizing: border-box;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

        .update-button {
            background-color: #5cb85c;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .update-button:hover {
                background-color: #4cae4c;
            }

        #description {
            height: 125px;
            width: 100%;
            resize: none;
        }

        #requestDate {
            background-color: lightgray;
            pointer-events: none;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        input[type="text"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }

        #addButton, #removeButton {
            margin-top: 10px;
            background-color: #5cb85c;
            color: #fff;
            padding: 10px 20px;
            font-size: 16px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            #addButton:hover, #removeButton:hover {
                background-color: #45a049;
            }

    </style>
</head>

<body>
    <div>
        <h2 style="color:white">TEKLİF GİRİŞİ</h2>
    </div>
    <form id="siteform" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group">
                <label for="companyName">Şirket Adı:</label>
                <select id="companyName" name="companyName">
                    @foreach (var company in ViewBag.Companies)
                    {
                        if (Model.CompanyId == company.Id)
                        {
                            <option value="@company.Id" selected>@company.Name</option>
                        }
                        else
                        {
                            <option value="@company.Id">@company.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="form-group">
                <label for="location">Lokasyon:</label>
                <select id="location" name="location">
                    @foreach (var location in ViewBag.Locations)
                    {

                        if (Model.CompanyLocationId == location.Id)
                        {
                            <option value="@location.Id" selected>@location.Name</option>
                        }
                        else
                        {
                            <option value="@location.Id">@location.Name</option>
                        }
                    }
                    <input type="hidden" id="locationId" name="locationId" value="@Model.CompanyLocationId" />
                </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label for="requestDate">Talep Tarihi:</label>
                <input type="text" id="requestDate" name="requestDate" value="@Model.CreatedDate.Value.ToShortDateString()" readonly>
            </div>

            <div class="form-group">
                <label for="department">Departman:</label>
                <select id="department" name="department">
                    @foreach (var department in ViewBag.Departments)
                    {
                        if (Model.DepartmentId == department.Id)
                        {
                            <option value="@department.Id" selected>@department.Name</option>
                        }
                        else
                        {
                            <option value="@department.Id">@department.Name</option>

                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="description"> Açıklama:</label>
                <textarea id="description" name="description">@Model.Description</textarea>
            </div>
        </div>
        @if (userId == 7)
        {
            <div class="faq_main_container">
                <div class="faq_container">
                    <div class="offer">
                        <div class="offer-text">
                            <h4 style="color:white;">TEKLİF 1</h4>
                        </div>
                        <div class="icon">
                            <div class="icon-shape"></div>
                        </div>
                    </div>
                    <div class="offercont">
                        <div class="offerAcordion">
                            <div class="form-group">
                                <label for="provider">Kayıtlı Sağlayıcı:</label>
                                <select id="provider" name="provider" style="width:200px">
                                    @if (Model.DemandOffers.Count != 0 && Model.DemandOffers.Any())
                                    {
                                        <option value="@Model.DemandOffers[0].SupplierId">@Model.DemandOffers[0].SupplierName</option>
                                    }
                                    else
                                    {
                                        <option selected> Bir sağlayıcı seçiniz.</option>
                                        @foreach (var providers in ViewBag.Providers)
                                        {
                                            <option value="@providers.Id">@providers.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <input type="checkbox" id="notRegisteredProvider1" name="notRegisteredProvider1">
                            <label for="notRegisteredProvider1" style="color:white">Kayıtlı Sağlayıcı Değil</label>
                            <br /><br />
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerCompanyName1">Firma Adı:</label>
                                    @if (Model.DemandOffers.Count != 0 && Model?.DemandOffers?[0].CompanyName != null)
                                    {
                                        <input type="text" id="offerCompanyName1" name="offerCompanyName1" value="@Model?.DemandOffers?[0].CompanyName" />
                                    }
                                    else
                                    {
                                        <input type="text" id="offerCompanyName1" name="offerCompanyName1">

                                    }

                                </div>

                                <div class="form-group">
                                    <label for="offerCompanyPhone1">Firma Telefon Numarası:</label>
                                    @if (Model.DemandOffers.Count != 0 && Model?.DemandOffers?[0].CompanyPhone != null)
                                    {
                                        <input type="text" id="offerCompanyPhone1" name="offerCompanyPhone1" value="@Model?.DemandOffers?[0].CompanyPhone">
                                    }
                                    else
                                    {
                                        <input type="text" id="offerCompanyPhone1" name="offerCompanyPhone1">
                                    }
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerCompanyAddress1">Firma Address:</label>
                                    @if (Model.DemandOffers.Count != 0 && @Model?.DemandOffers?[0].CompanyAddress != null)
                                    {
                                        <input type="text" id="offerCompanyAddress1" name="offerCompanyAddress1" value="@Model?.DemandOffers?[0].CompanyAddress">
                                    }
                                    else
                                    {
                                        <input type="text" id="offerCompanyAddress1" name="offerCompanyAddress1">
                                    }
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerCurrencyType1">Para Birimi:</label>
                                    <select id="offerCurrencyType1" name="offerCurrencyType1" style="width:130px">
                                        @foreach (var currencyType in ViewBag.CurrencyTypes)
                                        {
                                            if (Model.CurrencyTypeId == currencyType.Id)
                                            {
                                                <option value="@currencyType.Id" selected>@currencyType.CurrencyType</option>
                                            }
                                            else
                                            {
                                                <option value="@currencyType.Id">@currencyType.CurrencyType</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group" id="exchangeRateTextbox1" style="display: none;">
                                    <label for="exchangeRate1">Dolar/Euro Kuru:</label>
                                    <input type="text" id="exchangeRate1" name="exchangeRate1" style="width: 100px;">
                                </div>

                                <div class="form-group">
                                    <label for="offerAmount1">Miktar:</label>
                                    <input type="text" id="offerAmount1" name="offerAmount1" value="@Model.Quantity" style="width:100px">
                                </div>

                                <div class="form-group">
                                    <label for="offerMaterial1">Malzeme :</label>
                                    <input type="text" id="offerMaterial1" name="offerMaterial1" value="@Model.Material" style="width:250px">
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerPrice1">Fiyat:</label>
                                    <input type="text" id="offerPrice1" name="offerPrice1">
                                </div>

                                <div class="form-group">
                                    <label for="offerTotalPrice1">Toplam Fiyat (Türk Lirası):</label>
                                    <input type="text" id="offerTotalPrice1" name="offerTotalPrice1" readonly>
                                </div>
                            </div>
                            <button onclick="updateDemand(1)" type="button" class="update-button">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="faq_main_container">
                <div class="faq_container">
                    <div class="offer">
                        <div class="offer-text">
                            <h4 style="color:white;">TEKLİF 2</h4>
                        </div>
                        <div class="icon">
                            <div class="icon-shape"></div>
                        </div>
                    </div>
                    <div class="offercont">
                        <div class="offerAcordion">
                            <div class="form-group">
                                <label for="provider2">Kayıtlı Sağlayıcı:</label>
                                <select id="provider2" name="provider2" style="width:200px">
                                    @if (Model.DemandOffers.Count != 0 && Model.DemandOffers.Any())
                                    {
                                        <option value="@Model.DemandOffers[1].SupplierId">@Model.DemandOffers[1].SupplierName</option>
                                    }
                                    else
                                    {
                                        <option selected> Bir sağlayıcı seçiniz.</option>
                                        @foreach (var providers in ViewBag.Providers)
                                        {
                                            <option value="@providers.Id">@providers.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <input type="checkbox" id="notRegisteredProvider2" name="notRegisteredProvider2">
                            <label for="notRegisteredProvider2" style="color:white">Kayıtlı Sağlayıcı Değil</label>
                            <br /><br />
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerCompanyName2">Firma Adı:</label>
                                    @if (Model.DemandOffers.Count != 0 && Model?.DemandOffers?[1].CompanyName != null)
                                    {
                                        <input type="text" id="offerCompanyName2" name="offerCompanyName2" value="@Model?.DemandOffers?[1].CompanyName">
                                    }
                                    else
                                    {
                                        <input type="text" id="offerCompanyName2" name="offerCompanyName2">
                                    }
                                </div>
                                <div class="form-group">
                                    <label for="offerCompanyPhone2">Firma Telefon Numarası:</label>
                                    @if (Model.DemandOffers.Count != 0 && Model?.DemandOffers?[1].CompanyPhone != null)
                                    {
                                        <input type="text" id="offerCompanyPhone2" name="offerCompanyPhone2" value="@Model?.DemandOffers?[1].CompanyPhone">
                                    }
                                    else
                                    {
                                        <input type="text" id="offerCompanyPhone2" name="offerCompanyPhone2">
                                    }

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerCompanyAddress2">Firma Address:</label>
                                    @if (Model.DemandOffers.Count != 0 && Model?.DemandOffers?[1].CompanyAddress != null)
                                    {
                                        <input type="text" id="offerCompanyAddress2" name="offerCompanyAddress2" value="@Model?.DemandOffers?[1].CompanyAddress">
                                    }
                                    else
                                    {
                                        <input type="text" id="offerCompanyAddress2" name="offerCompanyAddress2">
                                    }
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerCurrencyType2">Para Birimi:</label>
                                    <select id="offerCurrencyType2" name="offerCurrencyType2" style="width:130px">
                                        @foreach (var currencyType in ViewBag.CurrencyTypes)
                                        {
                                            if (Model.CurrencyTypeId == currencyType.Id)
                                            {
                                                <option value="@currencyType.Id" selected>@currencyType.CurrencyType</option>
                                            }
                                            else
                                            {
                                                <option value="@currencyType.Id">@currencyType.CurrencyType</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group" id="exchangeRateTextbox2" style="display: none;">
                                    <label for="exchangeRate2">Dolar/Euro Kuru:</label>
                                    <input type="text" id="exchangeRate2" name="exchangeRate2" style="width: 100px;">
                                </div>
                                <div class="form-group">
                                    <label for="offerAmount2">Miktar:</label>
                                    <input type="text" id="offerAmount2" name="offerAmount2" value="@Model.Quantity" style="width:100px">
                                </div>

                                <div class="form-group">
                                    <label for="offerMaterial2">Malzeme :</label>
                                    <input type="text" id="offerMaterial2" name="offerMaterial2" value="@Model.Material2" style="width:250px">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerPrice2">Fiyat:</label>
                                    <input type="text" id="offerPrice2" name="offerPrice2">
                                </div>

                                <div class="form-group">
                                    <label for="offerTotalPrice2">Toplam Fiyat (Türk Lirası):</label>
                                    <input type="text" id="offerTotalPrice2" name="offerTotalPrice2" readonly>
                                </div>
                            </div>
                            <button onclick="updateDemand(2)" type="button" class="update-button">Kaydet</button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="faq_main_container">
                <div class="faq_container">
                    <div class="offer">
                        <div class="offer-text">
                            <h4 style="color:white;">TEKLİF 3</h4>
                        </div>
                        <div class="icon">
                            <div class="icon-shape"></div>
                        </div>
                    </div>
                    <div class="offercont">
                        <div class="offerAcordion">
                            <div class="form-group">
                                <label for="provider3">Kayıtlı Sağlayıcı:</label>
                                <select id="provider3" name="provider3" style="width:200px">
                                    @if (Model.DemandOffers.Count != 0 && Model.DemandOffers.Any())
                                    {
                                        <option value="@Model.DemandOffers[2].SupplierId">@Model.DemandOffers[2].SupplierName</option>
                                    }
                                    else
                                    {
                                        <option selected> Bir sağlayıcı seçiniz.</option>
                                        @foreach (var providers in ViewBag.Providers)
                                        {
                                            <option value="@providers.Id">@providers.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <input type="checkbox" id="notRegisteredProvider3" name="notRegisteredProvider3">
                            <label for="notRegisteredProvider3" style="color:white">Kayıtlı Sağlayıcı Değil</label>
                            <br /><br />
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerCompanyName3">Firma Adı:</label>
                                    @if (Model.DemandOffers.Count != 0 && Model?.DemandOffers?[2].CompanyName != null)
                                    {
                                        <input type="text" id="offerCompanyName3" name="offerCompanyName3" value="@Model?.DemandOffers?[2].CompanyName">
                                    }
                                    else
                                    {
                                        <input type="text" id="offerCompanyName3" name="offerCompanyName3">
                                    }
                                </div>

                                <div class="form-group">
                                    <label for="offerCompanyPhone3">Firma Telefon Numarası:</label>
                                    @if (Model.DemandOffers.Count != 0 && Model?.DemandOffers?[2].CompanyPhone != null)
                                    {
                                        <input type="text" id="offerCompanyPhone3" name="offerCompanyPhone3" value="@Model?.DemandOffers?[2].CompanyPhone">

                                    }
                                    else
                                    {
                                        <input type="text" id="offerCompanyPhone3" name="offerCompanyPhone3">
                                    }
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerCompanyAddress3">Firma Address:</label>
                                    @if (Model.DemandOffers.Count != 0 && Model?.DemandOffers?[2].CompanyAddress != null)
                                    {
                                        <input type="text" id="offerCompanyAddress3" name="offerCompanyAddress3" value="@Model?.DemandOffers?[2].CompanyAddress">
                                    }
                                    else
                                    {
                                        <input type="text" id="offerCompanyAddress3" name="offerCompanyAddress3">
                                    }
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerCurrencyType3">Para Birimi:</label>
                                    <select id="offerCurrencyType3" name="offerCurrencyType3" style="width:130px">
                                        @foreach (var currencyType in ViewBag.CurrencyTypes)
                                        {
                                            if (Model.CurrencyTypeId == currencyType.Id)
                                            {
                                                <option value="@currencyType.Id" selected>@currencyType.CurrencyType</option>
                                            }
                                            else
                                            {
                                                <option value="@currencyType.Id">@currencyType.CurrencyType</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="form-group" id="exchangeRateTextbox3" style="display: none;">
                                    <label for="exchangeRate3">Dolar/Euro Kuru:</label>
                                    <input type="text" id="exchangeRate3" name="exchangeRate3" style="width: 100px;">
                                </div>
                                <div class="form-group">
                                    <label for="offerAmount3">Miktar:</label>
                                    <input type="text" id="offerAmount3" name="offerAmount3" value="@Model.Quantity" style="width:100px">
                                </div>

                                <div class="form-group">
                                    <label for="offerMaterial3">Malzeme :</label>
                                    <input type="text" id="offerMaterial3" name="offerMaterial3" value="@Model.Material3" style="width:250px">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group">
                                    <label for="offerPrice3">Fiyat:</label>
                                    <input type="text" id="offerPrice3" name="offerPrice3">
                                </div>

                                <div class="form-group">
                                    <label for="offerTotalPrice3">Toplam Fiyat (Türk Lirası):</label>
                                    <input type="text" id="offerTotalPrice3" name="offerTotalPrice3" readonly>
                                </div>
                            </div>
                            <button onclick="updateDemand(3)" type="button" class="update-button">Kaydet</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="button-group">
@*             <button onclick="updateDemand()" type="button" class="update-button">Güncelle</button>
 *@        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
<style>

    #overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }



    .faq_container {
        border-bottom: 2px solid #ddd;
    }

    .offer {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .offercont {
        max-height: 0;
        overflow: hidden;
        transition: 0.3s;
    }

    .offerAcordion {
        padding: 0 10px 20px;
        line-height: 1.5rem;
        max-height: 500px;
        overflow-y: auto;
    }

    .fqa_headline_container h2 span {
        font-weight: 700;
    }

    .offer-text h3 {
        font-size: 22px;
    }

    .icon.active {
        background: transparent;
        border: 2px solid #fff;
    }

    .icon:hover {
        cursor: pointer;
    }

    .icon-shape {
        position: relative;
        width: 50px;
        height: 50px;
    }

    .icon .icon-shape::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 4px;
        background: #fff;
        border-radius: 3px;
        transition: all 0.5s ease;
    }

    .icon .icon-shape::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 4px;
        height: 30px;
        background: #fff;
        border-radius: 3px;
        transition: all 0.5s ease;
    }

    .icon .icon-shape.active::before {
        transform: translate(-50%, -50%) rotate(180deg);
        transition: all 0.5s ease;
    }

    .icon .icon-shape.active::after {
        transform: translate(-50%, -50%) rotate(90deg);
        transition: all 0.5s ease;
    }



    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }

    .button-group {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    #description {
        height: 125px;
        width: 550px;
        resize: none;
    }

    #sendButton {
        background-color: #4CAF50;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .form-row .currency-textbox {
        position: absolute;
        top: 0;
    }

    .form-group {
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group select,
        .form-group input[type="text"],
        .form-group textarea {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
</style>
@{
    var jsonProviders = JsonConvert.SerializeObject(ViewBag.Providers);
}
<script>
    let offers = document.querySelectorAll(".offer");
    var providers = @Html.Raw(jsonProviders);

    offers.forEach((offers) => {
        let icon = offers.querySelector(".icon-shape");

        offers.addEventListener("click", (event) => {
            const active = document.querySelector(".offer.active");
            const activeIcon = document.querySelector(".icon-shape.active");

            if (active && active !== offers) {
                active.classList.toggle("active");
                activeIcon.classList.toggle("active");
                active.nextElementSibling.style.maxHeight = 0;
            }

            offers.classList.toggle("active");
            icon.classList.toggle("active");

            const answer = offers.nextElementSibling;

            if (offers.classList.contains("active")) {
                answer.style.maxHeight = answer.scrollHeight + "px";
            } else {
                answer.style.maxHeight = 0;
            }
        });
    });
    $(document).ready(function () {
        $('#requestDate').prop('readonly', true);
        $('#description').prop('readonly', true);
        $('#companyName').prop('disabled', true);
        $('#location').prop('disabled', true);
        $('#department').prop('disabled', true);

        var demandId = @Model.DemandId;
        $.ajax({
            url: 'api/DemandOffers/GetDemandOfferData',
            type: 'GET',
            data: { demandId: demandId },
            success: function (data) {
                if (data != null) {
                    // Teklif 1 verilerini doldur
                    $('#offerCompanyName1').val(data.offer1CompanyName);
                    $('#offerCompanyPhone1').val(data.offer1CompanyPhone);
                    $('#offerCompanyAddress1').val(data.offer1CompanyAddress);
                    $('#offerCurrencyType1').val(data.offer1CurrencyType);
                    $('#offerAmount1').val(data.offer1Amount);
                    $('#offerMaterial1').val(data.offer1Material);
                    $('#offerPrice1').val(data.offer1Price);
                    $('#offerTotalPrice1').val(data.offer1TotalPrice);
                    $('#notRegisteredProvider1').prop('checked', !data.isProvider1Registered);
                    $('#provider1').val(data.offer1CompanyId);

                    // Teklif 2 verilerini doldur
                    $('#offerCompanyName2').val(data.offer2CompanyName);
                    $('#offerCompanyPhone2').val(data.offer2CompanyPhone);
                    $('#offerCompanyAddress2').val(data.offer2CompanyAddress);
                    $('#offerCurrencyType2').val(data.offer2CurrencyType);
                    $('#offerAmount2').val(data.offer2Amount);
                    $('#offerMaterial2').val(data.offer2Material);
                    $('#offerPrice2').val(data.offer2Price);
                    $('#offerTotalPrice2').val(data.offer2TotalPrice);
                    $('#notRegisteredProvider2').prop('checked', !data.isProvider2Registered);
                    $('#provider2').val(data.offer2CompanyId);

                    // Teklif 3 verilerini doldur
                    $('#offerCompanyName3').val(data.offer3CompanyName);
                    $('#offerCompanyPhone3').val(data.offer3CompanyPhone);
                    $('#offerCompanyAddress3').val(data.offer3CompanyAddress);
                    $('#offerCurrencyType3').val(data.offer3CurrencyType);
                    $('#offerAmount3').val(data.offer3Amount);
                    $('#offerMaterial3').val(data.offer3Material);
                    $('#offerPrice3').val(data.offer3Price);
                    $('#offerTotalPrice3').val(data.offer3TotalPrice);
                    $('#notRegisteredProvider3').prop('checked', !data.isProvider3Registered);
                    $('#provider3').val(data.offer3CompanyId);
                }
            },
            error: function (error) {
                console.error('Error getting demand offer data:', error);
            }
        });

        $('#provider').change(function () {
            var selectedProviderId = $(this).val();
            if (selectedProviderId !== "") {
                var selectedProvider = providers.find(p => p.Id == parseInt(selectedProviderId));
                if (selectedProvider) {
                    $('#offerCompanyName1').val(selectedProvider.Name);
                    $('#offerCompanyPhone1').val(selectedProvider.PhoneNumber);
                    $('#offerCompanyAddress1').val(selectedProvider.Address);

                }
            }
        });
        $('#provider2').change(function () {
            var selectedProviderId = $(this).val();
            if (selectedProviderId !== "") {
                var selectedProvider = providers.find(p => p.Id == parseInt(selectedProviderId));
                if (selectedProvider) {
                    $('#offerCompanyName2').val(selectedProvider.Name);
                    $('#offerCompanyPhone2').val(selectedProvider.PhoneNumber);
                    $('#offerCompanyAddress2').val(selectedProvider.Address);

                }
            }
        });
        $('#provider3').change(function () {
            var selectedProviderId = $(this).val();
            if (selectedProviderId !== "") {
                var selectedProvider = providers.find(p => p.Id == parseInt(selectedProviderId));
                if (selectedProvider) {
                    $('#offerCompanyName3').val(selectedProvider.Name);
                    $('#offerCompanyPhone3').val(selectedProvider.PhoneNumber);
                    $('#offerCompanyAddress3').val(selectedProvider.Address);

                }
            }
        });
        $('#offerCurrencyType1').change(function () {
            var currencyType = $(this).val();
            if (currencyType == 2 || currencyType == 3) {
                $('#exchangeRateTextbox1').show();
            } else {
                $('#exchangeRateTextbox1').hide();
            }
        });
        $('#offerCurrencyType2').change(function () {
            var currencyType = $(this).val();
            if (currencyType == 2 || currencyType == 3) {
                $('#exchangeRateTextbox2').show();
            } else {
                $('#exchangeRateTextbox2').hide();
            }
        });
        $('#offerCurrencyType3').change(function () {
            var currencyType = $(this).val();
            if (currencyType == 2 || currencyType == 3) {
                $('#exchangeRateTextbox3').show();
            } else {
                $('#exchangeRateTextbox3').hide();
            }
        });
        $('#exchangeRate1').on('input', function () {
            updateTotalPrice();
        });
        $('#offerAmount1, #offerPrice1').on('input', function () {
            updateTotalPrice();
        });
        $('#offerAmount2, #offerPrice2').on('input', function () {
            updateTotalPrice2(2);
        });
        $('#offerAmount3, #offerPrice3').on('input', function () {
            updateTotalPrice2(3);
        });
        $('#companyName').change(function () {
            var selectedCompanyId = $(this).val();
            $.ajax({
                url: 'api/CompanyLocations/GetLocations?companyId=' + selectedCompanyId,
                type: 'GET',
                success: function (data) {
                    $('#location').empty();
                    $.each(data.data, function (index, item) {
                        $('#location').append($('<option>', {
                            value: item.id,
                            text: item.name
                        }));
                    });
                },
                error: function (error) {
                    console.error('Error fetching locations:', error);
                }
            });
        });
    });
    function updateTotalPrice() {
        var amount = parseFloat($('#offerAmount1').val()) || 0;
        var price = parseFloat($('#offerPrice1').val()) || 0;
        var exchangeRate = parseFloat($('#exchangeRate1').val().replace(',', '.')) || 1;

        if ($('#offerCurrencyType1').val() == 2 || $('#offerCurrencyType1').val() == 3) {
            price = price * exchangeRate;
        }

        $('#offerTotalPrice1').val((amount * price).toFixed(2));
    }
    function updateTotalPrice2(offerNumber) {
        var amount = parseFloat($('#offerAmount' + offerNumber).val()) || 0;
        var price = parseFloat($('#offerPrice' + offerNumber).val().replace(',', '.')) || 0;

        var exchangeRateTextboxId = '#exchangeRateTextbox' + offerNumber;
        var exchangeRateId = '#exchangeRate' + offerNumber;

        if ($(exchangeRateTextboxId).is(":visible")) {
            var exchangeRate = parseFloat($(exchangeRateId).val().replace(',', '.')) || 1;
            price = price * exchangeRate;
        }

        $('#offerTotalPrice' + offerNumber).val((amount * price).toFixed(2));
    }

    function getOfferData(offerNumber) {
        var offerCompanyName = $(`#offerCompanyName${offerNumber}`).val();
        var offerCompanyPhone = $(`#offerCompanyPhone${offerNumber}`).val();
        var offerCompanyAddress = $(`#offerCompanyAddress${offerNumber}`).val();
        var offerCurrencyType = $(`#offerCurrencyType${offerNumber}`).val();
        var offerAmount = $(`#offerAmount${offerNumber}`).val();
        var offerMaterial = $(`#offerMaterial${offerNumber}`).val();
        var offerPrice = $(`#offerPrice${offerNumber}`).val();
        var offerTotalPrice = $(`#offerTotalPrice${offerNumber}`).val();
        var notRegisteredProvider = $(`#notRegisteredProvider${offerNumber}`).prop('checked');
        var selectedProviderId = $(`#provider${offerNumber}`).val();

        if (notRegisteredProvider) {
            selectedProviderId = null;
        }

        return {
            OfferCompanyName: offerCompanyName,
            OfferCompanyPhone: offerCompanyPhone,
            OfferCompanyAddress: offerCompanyAddress,
            IsProviderRegistered: !notRegisteredProvider,
            OfferCurrencyType: offerCurrencyType,
            OfferAmount: offerAmount,
            OfferMaterial: offerMaterial,
            OfferPrice: offerPrice,
            OfferTotalPrice: offerTotalPrice,
            OfferCompanyId: selectedProviderId
        };
    }

    function updateDemand(offerNumber) {
        var demandId = @Model.DemandId;
        var companyId = $('#companyName').val();
        var locationId = $('#location').val();
        var departmentId = $('#department').val();
        var description = $('#description').val();

        var offer1Data = getOfferData(offerNumber);
        var updateDemandViewModel = {
            DemandId: demandId,
            CompanyId: companyId,
            CompanyLocationId: locationId,
            DepartmentId: departmentId,
            Description: description,

            OfferCompanyName: offer1Data.OfferCompanyName,
            OfferCompanyPhone: offer1Data.OfferCompanyPhone,
            OfferCompanyAddress: offer1Data.OfferCompanyAddress,
            IsProvider1Registered: offer1Data.IsProviderRegistered,
            OfferCurrencyType: offer1Data.OfferCurrencyType,
            OfferAmount: offer1Data.OfferAmount,
            OfferMaterial: offer1Data.OfferMaterial,
            OfferPrice: offer1Data.OfferPrice,
            OfferTotalPrice: offer1Data.OfferTotalPrice,
            OfferCompanyId: offer1Data.OfferCompanyId
        };
        console.log(updateDemandViewModel);
        $.ajax({
            url: '/api/Demands/UpdateDemand',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(updateDemandViewModel),
            success: function (result) {
                location.reload();
            },
            error: function (error) {
                console.error('Error updating demand:', error);
            }
        });
    }
</script>
