@using Demand.Domain.Entities.Demand
@model List<DemandEntity>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="~/css/index.css" rel="stylesheet" />
</head>

<body>
    <main class="table" id="demandTable">
        <section class="table__header">
            <h1>Demand List</h1>
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <img src="images/search.png" alt="">
            </div>
        </section>
        <section class="tableBody">
            <table>
                <thead>
                    <tr>
                        <th> Demand No <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Created At <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Company Location Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Created Date <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Action <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var demand in Model)
                    {
                        <tr>
                            <td>@demand.Id</td>
                            <td>@demand.CreatedAt</td>
                            <td>@demand.CompanyLocationId</td>
                            <td>@demand.CreatedDate.ToString("dd.MM.yyyy")</td>
                            <td>
                                <p class="status @GetStatusClass(demand.Status)">@GetStatusText(demand.Status)</p>
                            </td>
                            <td>
                                <button class="edit-button">Edit</button>
                                <button class="view-button">View</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </section>
    </main>
    <script src="script.js"></script>
</body>

</html>

@functions {
    string GetStatusClass(byte status)
    {
        switch (status)
        {
            case 0: return "cancelled";
            case 1: return "pending";
            case 2: return "approved";
            default: return "";
        }
    }

    string GetStatusText(byte status)
    {
        switch (status)
        {
            case 0: return "Cancelled";
            case 1: return "Pending";
            case 2: return "Approved";
            default: return "";
        }
    }
}